{% extends "base.html" %}

{% block title %}
Mlody Pythonista
{% endblock %}

{% block header %}
BMI
{% endblock %}

{% block subtitle %} 
Kalkulator służy do obliczania BMI. <br>(Moj pierwszy napisany w JavaScript)
{% endblock %}

{% block header_picture %}

{% endblock %}

{% block content %}

<script src="{{url_for('static', filename='bmi.js')}}"></script>

<body>
    <br>
    <p>Place data below</p>
    <hr>
    <!-- variables -->
    <label for="waga">Waga w kg:</label><br>
    <input type="text" name="waga" id="waga">
    <br>
    <label for="wzrost">Wzrost w cm:</label><br>
    <input type="text" name="wzrost" id="wzrost">
    <br><br><br>
    <button type="button" onclick="myFunction()">Calc</button>
    <br>
    <hr>
    <p></p>
    <p id="myOutput"></p><br>
    <p id="myOutput2"></p>
</body>
{% endblock %}
