{% extends "base.html" %}

{% block title %}
Mlody Pythonista
{% endblock %}

{% block header %}
Liczymy prędkość w ruchu jednostajnym!
{% endblock %}

{% block subtitle %} 
Kalkulator służy do obliczania prędkości. Np. jak szybko biegłeś na 400 m. <br><b>Uwaga:</b> jeżeli wpisujesz wartości po przecinku, użyj kropki
{% endblock %}

{% block header_picture %}
<img src="{{ url_for('static',filename='biegacz.jpg')}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="200" height="200">
{% endblock %}

{% block content %}
<form class="row g-3" id="fizyka_predkosc" method="POST" action="{{ url_for('fizyka_predkosc') }}">
    <div class="row g-3">
  <div class="col">
    <input type="text" name="droga" id="droga" class="form-control" placeholder="droga" aria-label="droga">
    </div>
  <div class="col">
    <select id="droga_unit" name="droga_unit" class="form-select" aria-label="Default select example">
        <option selected>Jednostka drogi</option>    
        <option value="km">km</option>
        <option value="m">m</option>
    </select>
  </div>
    </div>
    <br><br><br>
    <div class="row g-3">
  <div class="col">
    <input type="text" name="czas" id="czas" class="form-control" placeholder="czas" aria-label="czas">
  </div>
  <div class="col">
    <select id="czas_unit" name="czas_unit" class="form-select" aria-label="czas unit">
        <option selected>Jednostka czasu</option>    
        <option value="h">h</option>
        <option value="min">min</option>
        <option value="s">s</option>
    </select>
  </div>
  </div>
    <br><br><br>
  <div class="row g-3">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
