{% extends "base.html" %}

{% block title %}
Mlody Pythonista
{% endblock %}

{% block header %}
Strona młodego programisty - pythonisty
{% endblock %}

{% block subtitle %}
Strona którą zrobiłem żeby pokazać synowi Błażejowi możliwości pythona, biblioteki flask oraz podstawy html i bootstrap.
{% endblock %}

{% block header_picture %}
<img src="{{ url_for('static',filename='intro.jpeg')}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="600" height="400">
{% endblock %}

{% block content %}
<br>
2021.12.27 - dodano sekcję kuchnia<br>
2021.12.30 - nowy wygląd<br>
2022.01.29 - Kalkulator BMI w technlogi JavaScript<br>


{% endblock %}

