{% extends "base.html" %}

{% block title %}
Mlody Pythonista
{% endblock %}

{% block header %}
Informatyka
{% endblock %}
{% block subtitle %}
Sekcja przydatnych programów informatycznych
{% endblock %}

{% block header_picture %}
<img src="{{ url_for('static',filename='python_logo.jpg')}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="100" height="100">
{% endblock %}

{% block content %}
<h3>Fizyka</h3>
<a href="{{url_for('fizyka_predkosc')}}">Ruch jednostajny prędkość</a>
<br><br>
<h3>Sekcja taty</h3>
<a href="{{url_for('procent_alk')}}">Ile wyjdzie % alkocholu jeżeli zmieszam...</a>
<br><br>
<a href="{{url_for('wino_cukier')}}">Ile potrzeba cukru do win</a>
{% endblock %}


